.t-0{
  top: 0;
}

.r-0{
  right:0;
}

.l-0{
  left:0;
}

@include media-breakpoint-down(sm) {
  .position-relative-xs {
    position: relative !important;
  }
  .position-absolute-xs{
    position: absolute !important;
  }
}

